APIModels/obj/Debug/
Domain/obj/Debug/
LiftApi/obj/Debug/
Repository/obj/Debug/
RepositoryService/obj/Debug/
packages/
../../Debug
IoC/obj/
LiftAPI.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
LiftAPI.Tests/obj/
