<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RabbitMq" value="52.5.31.215"/>
    <add key="GenericUser" value="liftapi"/>
    <add key="GenericPassword" value="1qaz!QAZ"/>
  </appSettings>
</configuration>